<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/<%=user_id.role%>">home</a>
    <main>
        <form action="/hod/createSubject" method="post">
            <input type="text" name="subject_name" placeholder="enter subject name">
            <button type="submit">submit</button>
        </form>
    </main>
</body>
</html>