<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/<%=user_id.role%>">home</a>
    <main>
        <table border="1">
            <tr>
                <th>subjects</th>
            </tr>

            <% if(result_subjects != "no"){ %>

                <% for(let i = 0; i < result_subjects.length; i++){ %>
                    <tr>
                        <td><%= result_subjects[i].name %></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </main>
</body>
</html>