<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/<%=user_id.role%>">home</a>
    <form action="/hod/updateSubject" method="post">
        <input type="text" placeholder="previous name" name="previous_name">
        <input type="text" placeholder="new name" name="new_name">
        <button type="submit">submit</button>
    </form>
</body>
</html>